.navbar {
    padding: 20px;
    background-color: #eccf26;
}

.navbar a {
    width: 100%;
}

.pokemon-logo {
    width: 200px;
    height: auto;
}

p, a, h1,h2,h3,h4,h5,h6 {
    color:#173b92 !important;
}
